@font-face {
    font-family: "Torus";
    src: url(../assets/Torus-Regular.otf);
}

* {
    font-family: "Torus";
}

body {
    background-color: #262424;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,
h4,
label,
p {
    color: #eee5da;
}

.container {
    max-width: 600px;
    width: 100%;
    background: #2e2c2c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

.upload-box {
    border: 2px dashed #4b3d3d;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.upload-box:hover,
.upload-box.dragover {
    border-color: #8ec5ff;
}

.preview {
    margin-bottom: 20px;
    text-align: center;
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #3a3636;
    background-color: #262424;
    border-radius: 8px;
}

.preview-container {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 15px;
    margin-top: 15px;
}

.preview-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #3a3636;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.thumbnail {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 8px;
    background: #eee5da;
    padding: 5px;
    border: 1px solid #3a3636;
    border-radius: 4px;
}

.file-name {
    font-size: 0.8em;
    color: #eee5da;
    word-break: break-word;
    max-width: 100%;
}

.preview svg {
    max-width: 100%;
    height: auto;
}

.controls {
    margin-bottom: 20px;
}

.controls label {
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #262424;
    color: #eee5da;
    border: 1px solid #3a3636;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #eee5da;
    color: #262424;
}

.hidden {
    display: none;
}

input {
    background-color: #3a3636;
    color: #eee5da;
    border: none;
    border-radius: 3px;
    padding: 5px;
}

footer {
    margin-top: 20px;
    text-align: center;
}

footer p {
    color: #8a8585;
    font-size: 0.9em;
    margin: 0;
}

footer a {
    color: #8a8585;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

footer a:hover {
    color: #eee5da;
    transform: scale(1.05);
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    color: #8a8585;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.back-button:hover {
    color: #eee5da;
    transform: scale(1.15);
}

.back-button::before {
    content: "←";
    margin-right: 5px;
}
